.general-btn {
  background-color: $btn-color;
  border-radius: 30px;
  border: none;
  color: $white;
  font-family: $montserrat-font;
  font-size: 16px;
  padding: 3px 6px;
  transition: background-color .3s;

  &:hover {
    background-color: $btn-color-hover;
  }

  &:focus {
    box-shadow: 0 0 5px $btn-color;;
    outline: none;
  }

  &_disabled {
    background-color: $secondary-color;
  }
}