.input {
   border: 1px solid $secondary-color;
   border-radius: 4px;
   outline: none;
   width: 100%;
   padding-left: 10px;
   padding-bottom: 4px;
   padding-top: 2px;

   &::placeholder {
      color: $secondary-color;
      font-family: $montserrat-font;
      font-size: 12px;
   }

   &:focus {
      border: 1px solid $input-outline;
      box-shadow: 0px 0px 1px $input-outline;
   }
}

.label {
   font-size: 14px;
   font-family: $montserrat-font;
   margin-bottom: 3px;
}