.menu {
  background-color: $white;
  border-radius: 5px;
  border: 1px solid $secondary-color;
  min-width: 90px;
  display: flex;
  justify-content: center;
  padding: 10px;

  li {
    list-style-type: none;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 12px;
    transition: color .3s;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      color: $input-outline;
    }

    svg {
      font-size: 14px;
      margin-right: 5px;
    }
  }
}