.menu {
  background-color: $white;
  border-radius: 5px;
  border: 1px solid $secondary-color;
  width: 90px;
  text-align: center;
  padding: 10px 0px;

  li {
    list-style-type: none;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 12px;
    transition: color .3s;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      color: $input-outline;
    }
  }
}