.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__avatar {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
  }

  &__cover {
    width: 250px;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
  }

  &__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 120px;
  }

  &__label {
    cursor: pointer;
    margin-top: 10px;
    transition: color .3s;

    &:hover {
      color: $input-outline;
    }
  }

  &__error {
    color: red;
    position: absolute;
    top: 47%;
    font-size: 18px;
    transform: translateY(-47%);
  }
}