.module-gramma {
  height: 100vh;
  background-color: $primary;
  border-left: 0.5px solid $white;
  padding: 15px;
  color: $white;

  &__title {
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 5px 10px 5px 10px;
    transition: background-color .3s;

    &:hover {
      background: rgba(179, 200, 234, 0.6);
      border-radius: 10px;
    }

    &-container {
      display: flex;
      align-items: center;
      margin-right: 20px;
    }

    &-thumbnail {
      border-radius: 50%;
      //background-color: #FF9E67;
      border: 0.5px solid $white;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 2.3;
      margin-right: 10px;


      &_a1 {
        background: $level-a1-gradient;
      }

      &_a2 {
        background: linear-gradient(90deg, #FFE259 0%, #FFA751 100%);
      }

      &_b1 {
        background: linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);
      }

      &_b2 {
        background: linear-gradient(90deg, #1488CC 0%, #2B32B2 100%);
      }

      &_c1 {
        background: linear-gradient(90deg, #9400D3 0%, #4B0082 100%);
      }
    }
  }
}