.module {
  height: 100vh;
  background-color: $primary;
  border-left: 0.5px solid $white;
  min-width: 250px;
  padding: 15px;
  font-size: 11px;
  color: $white;

  &__title {
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 5px 0px 5px 5px;
    transition: background-color .3s;

    &:hover {
      background: rgba(179, 200, 234, 0.6);
      border-radius: 10px;
    }

    &-container {
      display: flex;
      align-items: center;
      margin-right: 20px;
    }

    &-count {
      margin-right: 5px;
    }

    &-thumbnail {
      border-radius: 50%;
      background-color: #FF9E67;
      border: 0.5px solid $white;
      width: 35px;
      height: 35px;
      text-align: center;
      margin-right: 10px;
      line-height: 35px;
    }
  }
}