.reader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    &-btn {
      font-size: 13px;
    }

    &-progress {
      width: 50px;
    }
  }

  .react-pdf__Document {
    overflow: hidden;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  }

}

.stf__item {
  &.--left {
    background: black;
  }

  &.--right {
    background-color: black;
  }
}