.account {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  width: 100%;

  &__content {
    &-hey {
      margin-bottom: 10px;
    }
  }

  &__info {
    &-award {
      margin-top: 20px;
      &_title {
        margin-bottom: 10px;
      }
    }
    &-level {
      cursor: pointer;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      background: #ff4d4d;
      line-height: 50px;
      text-align: center;
      font-size: 14px;
      color: white;
    }
  }

  &__menu-dropdown {
    .rc-menu-item {
      font-size: 14px;

      svg {
        font-size: 20px;
      }
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 6px 10px;
    font-family: "Montserrat", sans-serif;
    background-color: $account-menu-color;
    border-radius: 20px;
    border: 0.5px solid $border-color;
    box-shadow: 0 0 1px rgba(0,0,0,.3);

    &-avatar {
      border-radius: 50%;
      width: 35px;
      height: 35px;
      border: 1px solid $border-color;
      text-align: center;
      padding-top: 4px;
      background: $account-menu-avatar-gradient;
    }

    &-img {
      object-fit: cover;
      width: 35px;
      height: 35px;
      border: 1px solid $border-color;
      border-radius: 50%;
    }

    &-name {
      font-size: 14px;
      margin: 0px 10px
    }

    &-chevron {
      transition: transform .3s;

      &_rotate {
        transform: rotate(180deg);
      }
    }

    &-logout {
      cursor: pointer;
    }

    &-icon {
      &_logout {
        margin-bottom: 2px;
        margin-right: 5px;
        font-size: 20px;
      }
    }
  }
}