.library {
  font-family: $montserrat-font;

  &__genre {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px
  }

  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__card {
    margin-right: 25px;
    margin-bottom: 10px;

    &-content {
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      min-width: 171px;
      min-height: 225px;
      position: relative;
      user-select: none;
    }

    &-title {
      font-size: 13px;
      margin-top: 6px;

      &_disabled {
        color: black;
        pointer-events: none;
        text-decoration: none;
      }
    }

    &-author {
      color: $text-author-color;
      font-size: 12px;
    }

    &-icon {
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 0;
      color: $white;
      transition: color .3s;

      &_lock {
        position: absolute;
        right: 10px;
        bottom: 10px;
        color: $white;
      }

      &_active {
        color: $red
      }
    }

    &-container {
      box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
      border-radius: 10px;

      &:after {
        content: "";
        display: block;
        width: 20px;
        height: 148px;
        position: absolute;
        background-color: #ffffff;
        top: 38px;
        left: 115px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-right: 1px solid #afafaf;
      }
    }

    &-cover {
      border-radius: 10px;
      width: 90px;
      height: 150px;
      object-fit: cover;
      position: relative;
      z-index: 1;
    }

    &-level {
      padding-top: 1px;
      position: absolute;
      left: 10px;
      bottom: 10px;
    }

    &_a1 {
      background: $level-a1-gradient;
    }

    &_a2 {
      background: linear-gradient(90deg, #FFE259 0%, #FFA751 100%);
    }

    &_b1 {
      background: linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);
    }

    &_b2 {
      background: linear-gradient(90deg, #1488CC 0%, #2B32B2 100%);
    }

    &_c1 {
      background: linear-gradient(90deg, #9400D3 0%, #4B0082 100%);
    }
  }
}