.page-book {
  display: flex;
  align-self: center;
  margin-left: 72px;
  
  &__content {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-left: 35px;
  }
  &__level {
    background-color: $level-a1-color;
    border-radius: 25px;
    width: 184px;
    height: 18px;
    padding: 0px 28px 0px 28px;
    font-size: 10px;
    color: white;
  }
  &__name {
    margin-top: 14px;
    line-height: 29px;
  }
  &__description {
    margin-top: 20px;
    width: 650px;
    font-size: 16px;
    line-height: 20px;
  }
  &__button {
    margin-top: auto;
    padding: 10px 14px;
    width: 155px;
    height: 40px;
  }
}