@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tienne:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

$montserrat-font: 'Montserrat', sans-serif;
$space-grotesk-font: 'Space Grotesk', sans-serif;
$logo-font: 'Tienne', sans-serfi;